body
{
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
}

hr 
{
    border: none;
    height: 2px;
    color: #333; 
    background-color: #333; 
}

li a
{
    color: #f5f5f5;
}

.container-fluid
{
    text-align: center; 
    background-color: #f5f5f5;
}

.container-fluid h1
{
    color: #131313; 
    font-size: 3em;
}

.container-fluid .col-sm-10
{
    padding-top: 2%;
    padding-bottom: 2%;
}

.jumbotron
{
    background-color: #050505; 
    text-align: center; 
    color: #f5f5f5; 
    margin-bottom: 0; 
}

.jumbotron .container-fluid
{
    background-color: #050505; 
}

.jumbotron h1
{
    color: #f5f5f5;
}

.navbar
{
    background-color: rgba(0, 0, 0, 0.65);
}

.navbar .container-fluid
{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
}

.video-wrapper 
{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.spacer
{
    height: 15em;
    opacity: 0;
}

#threejs
{
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: -1;
}

#contact
{
    padding-top: 5%;
    padding-bottom: 5%;
}

#about h4
{
    line-height:  1.5em;
    text-align: left;
}


