html {
    height: 95%;
    margin: 0;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    background-color: #1f1f1f;
    color: #bcbcbc;   
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

footer {
    color: #bcbcbc;
    left: 0;
    margin-top: 5px;
    padding: 20px;
    bottom: 5px;
}

.titles {
    text-align: center;
}

.online-presence {
    display: flex;
    justify-content: space-around;
}

.titles h1,
.titles h2 {
    margin: 2px;
}


img.profile-image {
    border-radius: 100%;
    height: 220px;
}

a.fa {
    color: #bcbcbc;
    text-decoration: none;
}

a.fa:hover {
    color: #333333;
}

h3,
h3 a{
    color: black;
    text-decoration: none;
}

h3 a:hover {
    color: #1f1f1f;
}

.background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.personal-info {
    margin-top: 60px;
}

.projects-info {
    margin-top: 60px;
    text-align: center;
}

.project-cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}


.project-card {
    margin-bottom: 40px;
    width: 30%;
    background-color: #CDCDCD;
    box-shadow: 0px 0px 2px 1px #CDCDCD;
}

.project-card a.fa {
    color: #333333;
    text-decoration: none;
}

.project-card a.fa:hover {
    color: #1f1f1f;
}

.embeded-video {
    position: relative; 
    width: 100%;
    min-height: 260px;
    height: 100%;
}

@media screen and (max-width: 900px) {
    .project-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-left: 0px;
        margin-right: 0px;
    }

    .project-card {
        width: 80%;
    }
}

@media screen and (max-width: 480px) { 
    .project-card {
        width: 98%;
    }
}
